:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --feature-bgc-color: #f5f4fa;
  --icon-noAction-color: #afb1b8;
  --bgc-icon-footer: rgba(255, 255, 255, 0.1);
  --alternative-accent-color: #188ce8;
  --add-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

/* outline: 2px solid tomato; */






/* Logo */



/* Main nav */



/* Site nav */




/* Hero */


/* Section */



/* Features */



/* Кнопки соц. сетей */



/* Logo */







/* Страница портфолио */

/* Шапка */

/* Фильтр */



/* Набор услуг */






/* =====Backdrop==== */